:root {
  --first-color: #111111;
  --second-color: #2f2f2f;
  --third-color: #f6f6f6;
  --fourth-color: #ffcb74;
  --fiveth-color: #b4883b;
}

* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  scrollbar-width: none;
}

body {
  box-sizing: border-box;
  min-width: 100vh;
  background-color: var(--first-color);
  color: var(--third-color);
}

.EnteteMenu,
.menuContact button {
  font-size: 13px;
}

/*


Page          :        Home     ///////////////////////////////////////////////



*/

/*




Debut En-tête 
*/

.PageHome header {
  margin: 10px 30px 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PageHome header h1 {
  font-size: 30px;
}

.PageHome header h1 span {
  font-size: 19px;
}

.PageHome .EnteteMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PageHome .EnteteMenu li {
  margin: 0 15px 0 15px;
  padding: 0 10px 0 10px;
  list-style: none;
}

.PageHome .EnteteMenu a {
  text-decoration: none;
  padding: 0 4px 4px 4px;
  color: var(--third-color);
  font-family: "Times New Roman", Times, serif;
}

.PageHome header .titreEntete span {
  color: var(--fourth-color);
}

.PageHome header .EnteteMenu .menuHome a {
  color: var(--fourth-color);
  border-bottom: 2px solid var(--fourth-color);
}

.PageHome header .EnteteMenu .menuContact button {
  color: var(--third-color);
  padding: 5px 10px 5px 10px;
  border-radius: 100px;
  background-color: var(--first-color);
  border: 2px solid var(--third-color);
}

/*
Fin En_tête





*/

/*





Debut main
*/

.PageHome main {
  margin: 100px 50px 10px 50px;
}

.PageHome main .ready button {
  color: var(--fourth-color);
  background-color: var(--first-color);
  box-shadow: 0 0 100px var(--fourth-color);
  border: none;
}

.PageHome main .ready button {
  margin: 10px 15px 20px 0;
  padding: 7px 10px 7px 10px;
  border-radius: 100px;
}

.PageHome main .language button {
  margin: 15px 15px 10px 0;
  padding: 7px 10px 7px 10px;
  border-radius: 100px;
  color: var(--third-color);
  background-color: var(--second-color);
  border: none;
  box-shadow: 0 0 1px var(--third-color);
}

.PageHome main .web,
.developer {
  font-size: 50px;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.PageHome main .developer {
  color: var(--fourth-color);
}

.PageHome main .network {
  font-size: 20px;
  margin: 20px 0 20px 0;
}

.PageHome main .info {
  font-size: 15px;
  width: 40%;
  text-align: justify;
}

.PageHome main .btnHome button {
  margin: 10px 15px 10px 0;
  padding: 7px 10px 7px 10px;
  border-radius: 6px;
  background-color: var(--first-color);
  color: var(--third-color);
  border: none;
  box-shadow: 0 17px 50px var(--fourth-color);
}

.PageHome main .btnHome .btnContact {
  padding: 7px 23px 7px 23px;
}

/*
Fin main





*/

/*





Debut footer
*/

.PageHome footer {
  margin: 10px 50px 10px 50px;
}

/*
Fin footer





*/

/*


Page          :        About      ///////////////////////////////////////////////



*/

/*




Debut En-tête 
*/
.PageAbout header {
  margin: 10px 30px 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PageAbout header h1 {
  font-size: 30px;
}

.PageAbout header h1 span {
  font-size: 19px;
}

.PageAbout .EnteteMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PageAbout .EnteteMenu li {
  margin: 0 15px 0 15px;
  padding: 0 10px 0 10px;
  list-style: none;
}

.PageAbout .EnteteMenu a {
  text-decoration: none;
  padding: 0 4px 4px 4px;
  color: var(--third-color);
  font-family: "Times New Roman", Times, serif;
}

.PageAbout header .titreEntete span {
  color: var(--fourth-color);
}

.PageAbout header .EnteteMenu .menuAbout a {
  color: var(--fourth-color);
  border-bottom: 2px solid var(--fourth-color);
}

.PageAbout header .EnteteMenu .menuContact button {
  color: var(--third-color);
  padding: 5px 10px 5px 10px;
  border-radius: 100px;
  background-color: var(--first-color);
  border: 2px solid var(--third-color);
}

/*
Fin En_tête





*/

/*





Debut main
*/

.PageAbout main {
  margin: 60px 50px 10px 50px;
}

.PageAbout main .maintitre {
  text-align: center;
  margin: 0 0 50px 0;
}

.PageAbout main .maintitre h1 {
  color: var(--fourth-color);
  font-family: "Times New Roman", Times, serif;
}

.PageAbout main .iam {
  color: var(--fourth-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.PageAbout .name {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.PageAbout .domaine {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  width: 40%;
}

.PageAbout .btnabout button {
  margin: 12px 10px 0 0;
  padding: 7px 10px 7px 10px;
  border-radius: 10px;
  border: 1px solid var(--fourth-color);
}

.PageAbout .btnabout .btnDownload {
  color: var(--third-color);
  background-color: var(--fiveth-color);
}

.PageAbout .btnabout .btnContact {
  padding: 7px 23px 7px 23px;

  color: var(--fourth-color);
  background-color: var(--first-color);
}

/*
Fin main





*/

/*





Debut section
*/

.PageAbout section {
  display: flex;
  justify-content: space-between;
  margin: 20px 45px 0 45px;
}

.PageAbout section .tprojet,
.certificates,
.years {
  padding: 15px;
  width: 30%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--second-color);
}

.PageAbout section div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PageAbout section div .number {
  margin-bottom: 50px;
}

.PageAbout section .text h4 .texttwo {
  display: block;
}

.PageAbout section .number .ico {
  background-color: var(--first-color);
  padding: 12px;

  border-radius: 100px;
}
.PageAbout section .number .num {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.PageAbout section .text .ico {
  padding-top: 18px;
}

/*
Fin section





*/

/*





Debut footer
*/

.PageAbout footer {
  margin: 20px 50px 10px 50px;
}

/*
Fin footer





*/


